.container {
  padding-bottom: 32px;
  border-bottom: 1px solid #3c42571f;
}

.buttonGroup {
  display: flex;
  gap: 12px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: #f6f8fb;
  border: 2px solid transparent;

  display: flex;
  align-items: center;
  padding: 10px 12px;

  cursor: pointer;
  color: #3c4257;

  transition: all 0.3s;

  font-weight: 600;
}

.button.active {
  background-color: #3c4257;
  color: white;

  transition: all 0.3s;
  cursor: default;
}

.button:hover {
  border: 2px solid #3c4257;
  transition: all 0.3s;
}
