:root {
  --theme-color: #3c4257;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
}

input,
textarea {
  font-family: inherit;
}

h4 {
  color: var(--theme-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

label {
  color: var(--theme-color);
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}
